{
  "extends": "standard",
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "$": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  "plugins": [
    "vue"
  ]
}
