{
  "extends": ["vue", "airbnb-base"],
  "plugins": ["vue"],
  "globals": {},
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [0],
    "no-param-reassign": [0],
    "arrow-body-style": [0],
    "no-console": [0, ""],  // allow console.log
    "semi": [2, "never"]    // no semicolon
    // "indent": [2, 4]     // tab = 4 spaces
  }
}
